/*Calendar styling*/
.calendar-container {
    max-width: 220px; /* Reduced width for a smaller calendar */
    margin: auto;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .calendar-header h2 {
    font-size: 16px;
    margin: 0;
  }
  
  .calendar-header button {
    font-size: 12px;
    padding: 5px;
    cursor: pointer;
    background-color: #fcfeff;
    color: black;
    border: none;
    border-radius: 3px;
  }
  
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px; /* Reduced gap for compact look */
  }
  
  .day-label {
    font-size: 10px;
    padding: 5px;
    text-align: center;
    color: rgb(179, 179, 179);
    border-radius: 3px;
  }
  
  .day-cell {
    padding: 4px;
    font-size: 12px;
    background-color: #fcfcfc;
    text-align: center;
    border-radius: 100%;
  }
    
  .day-cell2 {
    padding: 6px;
    font-size: 15px;
    text-align: center;
  }
  
  .highlighted {
    color: #0970f7; /* Highlight color for selected dates */
    background-color: #e0efff;
    border-radius: 100%;
  }
  
  button:focus {
    outline: none;
  }